<%= form_with model: @study_item, locals: true do |f| %>
    <div>
      <%= f.label :title, 'Título' %>
      <%= f.text_field :title %>
    </div>

    <div class="control-group">
      <%= f.label "Categoria", class: 'control-label' %>
      <%= select("study_item","category", ['HTML', 'CSS', 'Ruby', 'Rails', 'Outros'], {include_blank: false}) %>
    </div>

    <div>
      <%= f.label :description, 'Descrição' %>
      <%= f.text_area :description %>
    </div>

    <div class="control-group">
        <%= f.label "Status", class: 'control-label' %>
        <%= select("study_item","status", ['Pendente', 'Em andamento', 'Concluído'], {include_blank: false}) %>
    </div>

    <div>
      <%= f.submit 'Pronto!' %>
    </div>
  <% end %>