<h1>Adicionar item de estudo</h1>

<%= form_with model: @study_item, locals: true do |f| %>
    <div>
      <%= f.label :title, 'Título' %>
      <%= f.text_field :title %>
    </div>

    <div>
      <label for="category">Categoria:</label>
      <%= select_tag(:category, options_for_select([['HTML', 1], ['CSS', 2], ['Ruby', 3], ['Rails', 4], ['Outros', 5]])) %>
    </div>

    <div>
      <%= f.label :description, 'Descrição' %>
      <%= f.text_area :description %>
    </div>

    <div>
      <%= f.submit 'Criar' %>
    </div>
  <% end %>